div {
    text-align:left;
    color: wheat;
    border: 2px black solid;
    background-color: beige;
    letter-spacing:1px ;
    display: grid;
    width: 150px;

}

h1 {


    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}