th{

    border: 1px black solid;
    
}

.serveis {

    
    background-color: blueviolet;

}

.seguretat{

    background-color: cornflowerblue;


}

.sistemes {

    background-color: crimson;



}

.aplicacions{

background-color: darkgoldenrod;


}

.web{


    background-color: chartreuse;


}

.eie{



    background-color: greenyellow;
}
