th{

    border: 1px black solid;
    
}

.serveis {

    
    background-color: blueviolet;
    color: magenta;
    font-family: Arial, Helvetica, sans-serif;
}

.seguretat{

    background-color: cornflowerblue;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sistemes {

    background-color: crimson;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}

.aplicacions{

background-color: darkgoldenrod;
color: blue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.web{


    background-color: chartreuse;
    color: darkorange;
    font-family: monospace;
}

.eie{

    background-color: greenyellow;
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
